body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 400px; /* Обмеження по ширині для кращого вигляду */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input[type="email"], input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.login-button {
    background-color: #007bff;
    color: #fff;
    margin-top: 10px;
}

.login-button:hover {
    background-color: #0056b3;
}

.register-button {
    background-color: #28a745;
    color: white;
    margin-top: 10px;
}

.register-button:hover {
    background-color: #218838;
}

.error-message {
    color: red;
    margin-top: 10px;
}
